@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* ini utk font */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins', 'sans-serif';
}

html{
    font-size: 100%;
}

body{
    background-color: mediumseagreen;
    min-width: 1000px;
}

/* navbar */
header.sticky{
    height: 80px;
    opacity: 0.9;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 1rem 8%;
    background:rgb(255, 237, 213);
    display: flex;
    justify-content:flex-end;
    align-items: center;
    transition: 1s;
    z-index: 999;
}

#menu-icon{
    font-size: 3.6rem;
    color: wheat;
    display: none;
}

header .logo{
    width: 6rem;
    height: 4rem;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: 1s;
    z-index: 1;
}

header.sticky .logo{
    position: absolute;
    font-size: 2em;
    left: 100px;
    transform: translate(0, -50%);
}
nav{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    z-index: 1;
}
nav a {
    position: relative;
    display: flex;
    transition: 0.25s;
    transform: translateX(100px);
    opacity: 0;
}

header.sticky nav a{
    transform: translateX(0);
    opacity: 1;
    transition-delay: 0.25s;
}

.navbar a{
    color: rgb(47, 41, 41);
    font-size: 1rem;
    font-weight: 500;
    margin-right: 2rem;
    display: inline-block;
}
nav a:hover{
    color: aquamarine;
}

.button{
    display: inline-block;
    padding: 1rem 2.8rem;
    border-radius: 1rem;
    background: whitesmoke;
    box-shadow: 3px 3px 12px 0 rgba(48, 48, 48, 0.965);
    color: rgb(26, 26, 26);
    font-size: 1rem;
    font-weight: 500; 
    opacity: 0;
    transition: .5s;
}

header.sticky .button{
    opacity: 1;
}

.button:hover{
    background-color: bisque;
    cursor: pointer ;
    color: white;
}

@media screen and (max-width:909px) {
    .logo {
        z-index: 999;
    }
    #menu-icon {
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translate(50%, -50%);
        transition: .5s;
    }

    #menu-icon {
        display: block;
        opacity: 0;
        z-index: 999;
    }

    .header.sticky #menu-icon {
        transform: translate(0, -50%);
        opacity: 1;
        transition-delay: .75s;
    }

    .header.sticky .navbar {
        transition-delay: 0s;
    }

    .navbar {
        position: absolute;
        top: 80%;
        width: 100%;
        height: 0;
        background: #00FFAB;
        transition-delay: 0s;
        overflow: hidden;
        transition: 0;
    }

    .header.sticky .navbar {
        right: 50%;
        transform: translate(-50%, -50%);
    }

    .navbar a {
        width: 100%;
        padding: 10px 0;
        display: block;
        text-align: center;
    }

    .navbar.active {
        top: 210%;
        height: 200px;
    }

    .button {
        display: none;
    }
}



/* home */

.awal{
    margin-top: 10rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.gambar{
    width: 80rem;
    height: 20rem;
    border-radius: 10px;
}

/* waktu pengingat */

.waktu-sekarang {
    margin: 20px 100px;
    padding: 30px ;
    background-color: mediumseagreen;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.waktu-sekarang h1 {
    text-align: center;
    margin: 10px;
    font-size: 2rem;
}


/* Jadwal Shalat */
.container{
    margin: 20px 9rem;
}

.card{
justify-content: center;
align-items: center;
text-align: center;
}

.card-header{
    padding: 2rem 2rem;
    border-radius: .5rem;
    font-weight: 600;
    font-size: 1rem;
    background-color: bisque;
    color: rgb(48, 43, 43);
}

.title{
    font-size: 2rme;
    margin-bottom: .5rem;
    font-weight: 550;
}

.lokasi{
    justify-content: center;
    display: flex;
    gap: 5rem;
}

.lokasi p{
    font-size: 1.2rem;
    font-weight: 500;
}

#prov{
    font-size: 1.2rem;
}

#city{
    font-size: 1.2rem;
}

.table{
    width: 100%;
    border-collapse: collapse;
}

.table-primary th{
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: mediumaquamarine;
    font-weight: 500;
    color: white;
    text-align: center;
    padding: 8px;
}

.table td{
    text-align: center;
    padding: 8px;
    background-color: white;
}

.table-primary td{
    color: white;
    background-color: mediumaquamarine;
}

@media screen and (max-width: 700px) {
    .table-primary th {
        padding: .5rem 0;
        font-size: .7rem;
    }

    .table td {
        padding: 4px;
        font-size: .7em;
    }
}

@media screen and (max-width: 500px) {
    .lokasi {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #prov {
        font-size: 1rem;
    }
    
    #city {
        font-size: 1rem;
    }
}

@media screen and (max-width: 400px) {
    .table-primary th {
        padding: .5rem 0;
        font-size: .5rem;
    }

    .table td {
        padding: 4px;
        font-size: .5em;
    }
}

@media screen and (max-width: 300px) {
    .table-primary th {
        padding: .2rem 0;
        font-size: .5rem;
    }

    .table td {
        padding: 2px;
        font-size: .5em;
    }
}


/* asma ul */
.kata-judul{
    display: flex;
    justify-content: center;
    text-align: center;
}

.sub-judul{
    width: 50%;
    height: 50%;
    background-color: mediumaquamarine;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 30px;
}

#result{
    padding: 2rem 3rem 3rem;
    margin: 3rem 4rem 4rem;
    border-radius: 2rem;
    gap: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 50fr);
}

.kotak{
    width: 18rem;
    height: 12rem;
    margin-bottom: 1rem;
    background: bisque;
    border-radius: 10px;
    transition: .5s;
}

.kotak:hover{
    transform: scale(1.15);
}

.kecil{
    width: 18rem;
    border-radius: 5px;
    background-color: rgb(215, 214, 214)  ;
    padding-top: .3rem;
    padding-bottom: .4rem;
    display: flex;
    gap: 2rem;
    justify-content: space-around;
    vertical-align: middle;
}

.nomer{
    background-color: mediumaquamarine;
    padding: 0 .5rem;
    text-align: center;
    border-radius: 3rem;
    margin-top: .2rem;
    color: aliceblue;
}

.save{
    width: .9rem;
    height: 1.75rem;
}

.nama{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
}

.arab{
    margin-top: .4rem;
    margin-right: .5rem;
    text-align: right;
    font-size: 2rem;
}

.arti{
    margin-right: .5rem;
    text-align: right;
    font-size: 1rem;
    margin-top: .3rem;
}

.line{
    margin-top: 1rem;
    border-top: 3px solid gray;
}

.ayat{
    margin-right: .5rem;
    text-align: right;
    font-size: 1rem;
    margin-top: .5rem;
}

.kotak .kecil .save{
    width: .9rem;
    height: 1.5rem;
    text-align: center;
    justify-content: center;
    margin-top: 5px;
}


@media screen and (max-width: 700px) {
    .kotak {
        width: 100vw;
    }
    .tombol button {
        padding: 10px;
        font-size: .7em;
    }
}

/* jam */
.hero{
    display: flex;
    justify-content: center;
}


.container-jam{
    width: 800px;
    height: 180px;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.clock{
    width: 100%;
    height: 100%;
    background-color: mediumaquamarine;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(40px);
    color: white;
}

    .clock span{
        font-size: 80px;
        width: 110px;
        display: inline-block;
        text-align: center;
    }

    .clock span::after{
        font-size: 16px;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
    }
    #hrs::after{
        content: 'hours';
    }

    #min::after{
        content: 'MINS';
    }

    #sec::after{
    content: 'SEC';
    }

    .judul{
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    /* footer */

    footer{
        background-color: mediumaquamarine;
        text-align: center;
        padding: 30px 0;
        margin-top: 2rem;
}
p{
        color: black;
}


